snippet shebang "our shebang" b
#!/usr/bin/env bash
endsnippet

snippet	bg_red "Text background color red" iw
\033[31m
endsnippet

snippet	bg_green "Text background color green" iw
\033[32m
endsnippet

snippet bg_reset "Rest back to the default color" iw
\033[0m
endsnippet
